.title {
    -fx-font-size: 200%;
}

.presentWords{
    -fx-font-size: 100%;
}

.missingWords{
    -fx-font-size: 100%;
    -fx-strikethrough: true;
}

.preview{
    -fx-font-size: 150%;

}

.text-field{
    -fx-spacing: 10px;
}